*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
}
nav{
width: 70vw;
display: flex;
justify-content: space-between;
align-items: center;

}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15pt;
}.header2 p{
    font-size: 30px;
    color: white;
}
.knopki
{
    display: flex;
    justify-content: center;
    gap: 8vh;
}
.knopki button
{
   width: 90px;
   height: 50px;
   background: none;
   border-radius: 1vh;
   border: none;
} 
    .knopki button:hover
    {
        border: 1px solid #7E7E81;
        background-color: #141414; 
    }
    .knopki a:hover{color: white;}
    
.knopki a{
font-size: 17px;
text-decoration: none;
color: #7E7E81;
}

.button1{
    width: 127px;
    height: 50px;
    border-radius: 1vh;
    background-color: #FFD11A;
    border: none;
}
.Explore{
    width: 100vw;
    height: 160vh;
    
}

